@model AileronAirwaysWeb.Models.TimelineViewModel
<div id="modal-container">
    <form id="create-form" asp-antiforgery="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" style="color:#3A87AD">
                Create New Timeline
            </h4>
        </div>

        <div class="modal-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <p>Create a new timeline to record incident events.</p>

            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" id="btnSave" class="btn btn-default">Create New Timeline</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
