@model AileronAirwaysWeb.Models.TimelineViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="modal-title" id="myModalLabel" style="color:#3A87AD">
        <h2>Edit Timeline</h2>
    </div>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form method="post" asp-action="edit" asp-route-id="@Model.Id">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <p>Edit the timeline.</p>

                <div class="form-group">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="modal-footer">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
