@model Echelon.TimelineApi.Timeline
@{
    ViewData["Title"] = "Edit Timeline";

}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div class="modal-title" id="myModalLabel" style="color:#3A87AD">
        <h2>Edit Timeline</h2>
    </div>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("Edit", "Timelines", FormMethod.Post))
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <h3>Edit Title:</h3>
                <p>Enter New Title Bellow</p>


                <div class="form-group">
                    <input asp-for="Title" class="form-control" placeholder=@ViewData["EditTitle"] />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="modal-footer">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a asp-action="Index">Back to List</a>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
