@model IEnumerable<Echelon.TimelineApi.Timeline>

@{
    ViewData["Title"] = "Timeline Register";
}

<h2>@ViewData["Title"]</h2>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<p><a href="javascript:void(0);" class="modal-link-create-timeline btn btn-primary">Create New Timeline</a></p>

<hr>

<div style="margin-right: auto; margin-left: auto; width:80%" @*class="col-lg-9 col-md-12" *@>
    <table data-order='[[ 1, "des" ]]' id="tbltimelines" class="display @*responsive nowrap*@" @*style="width:100%" *@>
        <thead>
            <tr>
                <th style="max-width:65%">Title</th>
                <th style="width:20%">Date Created</th>
                <th style="width:15%">Link</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts {
    <script src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/af-2.2.2/b-1.5.0/b-colvis-1.5.0/b-html5-1.5.0/b-print-1.5.0/cr-1.4.1/r-2.2.1/rg-1.0.2/rr-1.2.3/sc-1.4.3/sl-1.2.4/datatables.min.js"></script>

    <script>
        function updateTable(jsondata) {

            var table = $('#tbltimelines').DataTable({
                data: jsondata,
                columns: [
                    {
                        mRender: function renderTitle(data, type, row) {
                            return '<a href="/timelines/' + row.id + '/events/">' + row.title + '</a> '
                        }
                    },
                    {
                        data: 'creationTimeStamp'
                    },
                    {
                        mRender: function (data, type, row) {
                            return '<a href="javascript:void(0);" class="modal-link-edit-timeline" onclick="editTimeline(\'' + row.id + '\')">Edit</a> | ' +
                                '<a href="/timelines/delete/' + row.id + '" onclick="return confirm(\'Are you sure you wish to delete this event?\');">Delete</a>';
                        }, sortable: false
                    }
                ]
            });
        }

        $(function () {
            $(".modal-link-create-timeline").click(function () {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("create", "timelines")",
                    contentType: "application/html; charset=utf-8",
                    datatype: "html",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal({ "backdrop": "static", keyboard: true });
                        $('#myModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        alert("Error - look in console.log");
                        console.log('Status: ' + status);
                        console.log('Error: ' + error);
                    }
                });
            });

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });

            $.ajax({
                url: "@Url.Action("get", "timelines", new { Area = "api" })",
                method: 'GET',
                datatype: 'json',
                contentType: "application/json; charset=utf-8",
                table: '#tbltimelines',
                success: updateTable
            });
        });

        function editTimeline(id) {
            $.ajax({
                type: "GET",
                url: "timelines/edit/" + id,
                contentType: "application/html; charset=utf-8",
                datatype: "html",
                success: function (data) {
                    $('#myModalContent').html(data);
                    $('#myModal').modal({ "backdrop": "static", keyboard: true });
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Error - look in console.log");
                    console.log('Status: ' + status);
                    console.log('Error: ' + error);
                }
            });
        }

        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    </script>
}