.bgColor {
    width: 100%;
    background-color: rgba(211, 211, 211, 0.1);
    /*border-top: 1px solid #0D1B2E;*/
}


/* Style the tab */

.tabLinksContainer {
    border-top: .1px solid #ddd;

    padding-top: 30px;
    width: 100%;
    text-align: center;
    float: left;
}




.tab {
    overflow-x: auto;
    /*border: 1px solid #ccc;
    background-color: #f1f1f1;*/
    padding: 0;
    width: 80%;
    margin: 0 auto;

}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        padding: 14px 16px 12px 16px;
        border: none;
        outline: none;
        cursor: pointer;
        /*transition: 0.3s;*/
        font-size: 15px;
        border-bottom: 2px solid #ddd;
        margin-right: -2px;
        margin-left: -2px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            /*background-color: #ddd;*/
            border-bottom: 2px solid #0D1B2E;
            padding-bottom: 12px;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            /*background-color: #ddd;*/
            border-bottom: 2px solid #0D1B2E;
            padding-bottom: 12px;
            align-content: center;
        }


/*Change Tab Links to Full Width*/
@media all and (max-width: 600px) {

    .tab  {
        width: 100%;
        padding: 0;
    }
        .tab button {
            width: 100%;
            display: block;
            border-bottom: 0px solid #ddd;
            padding-bottom: 14px;
        }
        .tab button:hover {
            background-color: #ddd;
            border-bottom: 0px solid #0D1B2E;
            padding-bottom: 14px;

        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
            border-bottom: 0px solid #0D1B2E;
            padding-bottom: 14px;
        }


    .tabLinksContainer {
        padding-top: 0;
        padding-bottom: 50px;

    }


   
}






/* Style the tab content */



.tabcontent {
    display: none;
    width: 80%;
    min-height: 450px;
    padding: 150px 10% 50px 10%;
    border-top: none;
    margin: 120px auto 0 auto;
}


#eventHeader{
    position: relative;
}

#backArrow {
    position: absolute;
    top: 120px;
    left: 16px;
    font-size: 50px;
}

@media all and (max-width: 800px) {

    #eventHeader {
        position: unset;
        display: block;
    }

    #backArrow {
        position: unset;
        top: 120px;
        left: 0px;
        right: 0px;
        bottom: 0px;

        font-size: 50px;
        padding: 0;
    }
}



.arrowLink {
    color: #0D1B2E;
}
.arrowLink:hover {
    color: #0D1B2E;
}


#bottomEventNav {
    width: 100%;
    height: auto;
    padding: 10px 0;
    border-bottom: .1px solid #ddd;
    border-top: .1px solid #ddd;

}

.btnContainer {
    width: 80%;
    padding: 0 10%;
}

@media all and (max-width: 600px) {
    /* Tab Content */
    .tabcontent {
        width: 96%;
        padding: 150px 2% 50px 2%;
    }
}






/* ----- drag and drop -------*/
.formDragAndDrop {
    width: 100%;
    min-height: 250px;
}

input.dragAndDrop[type=file] {
    width: 100%;
    border-width: thick;
    padding: 100px 10px;
    border-style: dashed;
    align-content: center;



}