body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*custum navbar of purple to replace with navbar-inverse*/
.mt-navbar-custom {
    background-color: purple; /* color purple: #734EA6*/
    border-color: purple;
}

    .mt-navbar-custom .navbar-brand {
        color: #fff;
    }

        .mt-navbar-custom .navbar-brand:hover,
        .mt-navbar-custom .navbar-brand:focus {
            color: #fff;
            background-color: transparent;
        }

    .mt-navbar-custom .navbar-text {
        color: #9d9d9d;
    }

    .mt-navbar-custom .navbar-nav > li > a {
        color: #9d9d9d;
    }

        .mt-navbar-custom .navbar-nav > li > a:hover,
        .mt-navbar-custom .navbar-nav > li > a:focus {
            color: #fff;
            background-color: transparent;
        }

    .mt-navbar-custom .navbar-nav > .active > a,
    .mt-navbar-custom .navbar-nav > .active > a:hover,
    .mt-navbar-custom .navbar-nav > .active > a:focus {
        color: #fff;
        background-color: purple;
    }

    .mt-navbar-custom .navbar-nav > .disabled > a,
    .mt-navbar-custom .navbar-nav > .disabled > a:hover,
    .mt-navbar-custom .navbar-nav > .disabled > a:focus {
        color: purple;
        background-color: transparent;
    }

    .mt-navbar-custom .navbar-toggle {
        border-color: purple;
    }

        .mt-navbar-custom .navbar-toggle:hover,
        .mt-navbar-custom .navbar-toggle:focus {
            background-color: purple;
        }

        .mt-navbar-custom .navbar-toggle .icon-bar {
            background-color: #fff;
        }

    .mt-navbar-custom .navbar-collapse,
    .mt-navbar-custom .navbar-form {
        border-color: #101010;
    }

    .mt-navbar-custom .navbar-nav > .open > a,
    .mt-navbar-custom .navbar-nav > .open > a:hover,
    .mt-navbar-custom .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: purple;
    }

@media (max-width: 767px) {

    .mt-navbar-custom .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: purple;
    }

    .mt-navbar-custom .navbar-nav .open .dropdown-menu .divider {
        background-color: purple;
    }

    .mt-navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }

        .mt-navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
        .mt-navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #fff;
            background-color: transparent;
        }

    .mt-navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .mt-navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .mt-navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: purple;
    }

    .mt-navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .mt-navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .mt-navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: purple;
        background-color: transparent;
    }
}

.mt-navbar-custom .navbar-link {
    color: #9d9d9d;
}

    .mt-navbar-custom .navbar-link:hover {
        color: #fff;
    }

.mt-navbar-custom .btn-link {
    color: #9d9d9d;
}

    .mt-navbar-custom .btn-link:hover,
    .mt-navbar-custom .btn-link:focus {
        color: #fff;
    }

    .mt-navbar-custom .btn-link[disabled]:hover,
    fieldset[disabled] .mt-navbar-custom .btn-link:hover,
    .mt-navbar-custom .btn-link[disabled]:focus,
    fieldset[disabled] .mt-navbar-custom .btn-link:focus {
        color: purple;
    }

.mt-navbar-custom .navbar-link {
    color: #9d9d9d;
}

    .mt-navbar-custom .navbar-link:hover {
        color: #fff;
    }

.mt-navbar-custom .btn-link {
    color: #9d9d9d;
}

    .mt-navbar-custom .btn-link:hover,
    .mt-navbar-custom .btn-link:focus {
        color: #fff;
    }

    .mt-navbar-custom .btn-link[disabled]:hover,
    fieldset[disabled] .mt-navbar-custom .btn-link:hover,
    .mt-navbar-custom .btn-link[disabled]:focus,
    fieldset[disabled] .mt-navbar-custom .btn-link:focus {
        color: #b722d8;
    }

/*for timeline table responsiveness*/
#timelinecontents {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.dataTables_length label {
    color: purple;
}
.dataTables_filter label {
    color: purple;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-color: purple;
    background: #fff;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        border-color: purple;
        background: #fff /*linear-gradient(to bottom, #fff 0%, #734EA6 100%)*/;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        border-color: #0D63AC;
        color: #fff !important;
        background: #0D63AC;
    }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover 
 {
    border-color: #0D63AC;
    color: #fff !important;
    background: #0D63AC;
}
/*Static Button -------------------------*/
.mt-purple-circle-btn {
    z-index: 99;
    font-size: 22px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: rgba(115,78,166,1) /*#b722d8*/;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

    .mt-purple-circle-btn:hover {
        background-color: #b722d8;
    }
/*#addEventBtn {
    /*position: absolute;* /
    display: block;
    position: fixed;
    right: 40px;
    bottom: 50px;
}

@media screen and (max-width: 327px) {
    #addEventBtn {
        right: 20px;
    }
}*/

.mt-purpule-color {
    color: purple
}



.modal-dialog {
    margin-top: 30px;
    width: 50%;
}



@media (max-width: 767px) {
    .modal-dialog {
        margin-top: 30px;
        width: 70%;
        margin: 0 15%;
    }

}
@media (max-width: 380px) {
    .modal-dialog {
        margin-top: 30px;
        width: 90%;
        margin: 0 5%;
    }
}

.widthContainer{
    width: 100%;
}


.mt-purpule-color {
    color: purple;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#googleMap #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin: 5px;
    padding: 5px;
    text-overflow: ellipsis;
    width: 100%;
    min-width: 100px;
}

    #pac-input:focus {
        border-color: #4d90fe;
    }

/*Right/left Arrow Icon*/
i, .arrow {
    display: inline-block;
    padding: 3px;
}

.rightArrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.leftArrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


.upArrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.downArrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#flash-messages-wrapper {
    width: 100%;
    z-index: 1;
}

.alert-flash {
    margin-bottom: 0px;
}

.trash_icon {
    font-size: 32px;
}