





.sidebar-wrapper {
    z-index: 2; /* Stop footer overlaying sidebar */
    left: 0px;
    background-color: #fafafa;
    /*overflow-x: hidden;*/
    border-right: 1px solid #0D1B2E;
}

.sidebar-content {
    padding: 65px 15px 15px 15px;
    height: inherit;
}

#sidebar-arrow {
    cursor: pointer;
    margin-top: 16px;
}

.sidebar-toggle {
    padding: 6px;
}

.main-content {
    width: auto;
    margin-right: 5px;
    margin-left: 5px;
    padding: 15px 5% 0px 5%;
}

/* Hides data table search box. */
.dataTables_wrapper .dataTables_filter {
    display: none;

}

.wtSearchBar {
    width: 100%;
}

.form-control {
    border-radius: unset;
}


@media only screen and (max-width: 640px) {
    .sidebar-wrapper {
        border-right: 0px solid #0D1B2E;
        padding-bottom: 10px;
        border-bottom: 1px solid grey;
    }

    .main-content {
        margin-left: 0px !important;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10px;
        width: 100vh;
        /*max-width: 100%;*/
    }

    .search {
        width: 100%;
        height: inherit;
    }
    .wtSearchBar {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    } 
    
    .wtForm {
        width: 50%;
        float: left;
        display: inline;
    }


    .sidebar-content {
        margin-top: 0px;
        padding-top: 10px;
        padding-bottom: 5px;
        text-align: center;

        height: 170px;
    }

    .moveButtonDisplay {
        position: absolute;
        top: 160px;
        width: 50%;
        left: 10px;
        
    }

    .paddingChangeBtn {
        padding: 6.5px 10px 6.5px 10px;
        margin: 0px;
    }

    .HRgone640 {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width: 450px) {
    
    
    .sidebar-content {

        height: 250px;
    }

    .wtSearchBar {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
       
    }

   


    .wtForm {
        width: 100%;
        float: left;
        display: block;
        margin: 0px;
        padding: 0px;

    }

    .form-group {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}


