





.sidebar-wrapper {
    z-index: 2; /* Stop footer overlaying sidebar */
    left: 0px;
    background-color: #fafafa;
    /*overflow-x: hidden;*/
    border-right: 1px solid #0D1B2E;
}

.sidebar-content {
    padding: 65px 15px 15px 15px;
}

#sidebar-arrow {
    cursor: pointer;
    margin-top: 16px;
}

.sidebar-toggle {
    padding: 6px;
}

.main-content {
    width: auto;
    margin-right: 5px;
    margin-left: 5px;
    padding: 15px 5% 0px 5%;
}

/* Hides data table search box. */
.dataTables_wrapper .dataTables_filter {
    display: none;

}


@media only screen and (max-width: 640px) {



    .sidebar-wrapper {
        border-right: 0px solid #0D1B2E;
    }

    .main-content {
        margin-left: 0px;
    }

    .search {
        width: 100%;
    }
    .wtSearchBar{
        width: 100%;
    } 
    
    .wtForm {
        width: 50%;
        float: left;
        display: inline;
    }


    .sidebar-content {
        margin-top: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }



}

@media only screen and (max-width: 450px) {

    .wtSearchBar {
        width: 95%;
        padding-right: 5%;
    }

    .wtForm {
        width: 100%;
        float: left;
        display: block;
    }
}


