@model AileronAirwaysWeb.ViewModels.TimelineEventViewModel

<div id="modal-container">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="color:#3A87AD">
            Delete Event Bamnana
        </h4>
    </div>

    <div class="modal-body">

        <p>Are you sure you want to delete this event?</p>
        <strong>@Html.DisplayFor(model => model.Title)</strong>

    </div>
    <div class="modal-footer">
        <form asp-antiforgery="true" id="delete-event-form">
            <input type="submit" id="btnSave" class="btn btn-default" value="Delete" />
        </form>
    </div>

</div>
