@model TimelineEvent

@if (Model.Description == null)
{
    <br />
    <div class="panel panel-default">
        <div class="panel-body text-center" style="font-size: 10pt; padding: 24px;">
            <a href="#" id="editDescriptionLink" data-id="@Model.Id" style="color: #404040;">
                <span class="glyphicon glyphicon-edit"></span>
                Add a description for this event.
            </a>
        </div>
    </div>
}
else
{
    
    <p>@Html.Raw(Model.Description.Replace("\n", "<br>"))</p>

    <div class="form-group text-right">
        <p><a href="#" id="editDescriptionLink" class="btn btn-main" data-id="@Model.Id">Edit</a></p>
    </div>


}
