@model TimelineEvent

@if (Model.Description == null)
{
    <br>
    <a href="#" id="editDescriptionLink" data-id="@Model.Id">
        <div class="panel panel-default">
            <div class="panel-body text-center" style="font-size: 10pt; padding: 24px; color: #404040;">
                <span class="glyphicon glyphicon-edit"></span>
                Add a <strong>description</strong> for this event.
            </div>
        </div>
    </a>
}
else
{
    <p>@Html.KeepLines(Model.Description)</p>

    <div class="form-group text-right">
        <p><a href="#" id="editDescriptionLink" class="btn btn-main" data-id="@Model.Id">Edit</a></p>
    </div>
}
