@model AileronAirwaysWeb.ViewModels.EditDescriptionViewModel

<form id="editDescriptionForm" asp-action="DescriptionEdit" method="post" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Id">

    <div class="form-group">
        <textarea asp-for="Description" class="form-control" rows="10"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group text-right">
        <input type="submit" id="editDescriptionBtn" value="Save" class="btn btn-primary" />
        <input type="button" id="cancelEditDescriptionBtn" value="Cancel" class="btn btn-default" />
    </div>

    
</form>
